alembic==1.18.4
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
appnope==0.1.4
asttokens==3.0.1
attrs==25.4.0
bcrypt==5.0.0
cachetools==7.0.5
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
cheroot==11.1.2
click==8.3.1
comm==0.2.3
cotyledon==2.2.0
croniter==6.0.0
cryptography==46.0.5
debtcollector==3.0.0
debugpy==1.8.20
decorator==5.2.1
dnspython==2.8.0
dogpile.cache==1.5.0
eval_type_backport==0.3.1
eventlet==0.40.4
executing==2.2.1
faiss-cpu==1.13.2
fasteners==0.20
filelock==3.25.1
fsspec==2026.2.0
futurist==3.2.1
greenlet==3.3.2
h11==0.16.0
hf-xet==1.3.2
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.6.0
idna==3.11
importlib_metadata==8.7.1
iniconfig==2.3.0
invoke==2.2.1
ipykernel==7.2.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
iso8601==2.1.0
jaraco.functools==4.4.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
keystoneauth1==5.13.1
keystonemiddleware==12.0.0
kombu==5.6.2
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mdurl==0.1.2
mistral==21.0.0
mistral-lib==3.5.1
mistralai==2.0.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
nest-asyncio==1.6.0
netaddr==1.3.0
networkx==3.6.1
numpy==2.4.3
opentelemetry-api==1.39.1
opentelemetry-semantic-conventions==0.60b1
os-service-types==1.8.2
oslo.cache==4.1.1
oslo.concurrency==7.4.0
oslo.config==10.3.0
oslo.context==6.3.0
oslo.db==18.0.0
oslo.i18n==6.7.2
oslo.log==8.1.0
oslo.messaging==17.3.0
oslo.metrics==0.15.1
oslo.middleware==8.0.0
oslo.policy==5.0.0
oslo.serialization==5.9.1
oslo.service==4.5.1
oslo.utils==10.0.0
osprofiler==4.3.0
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079066/work
paramiko==4.0.0
parso==0.8.6
Paste==3.10.1
PasteDeploy==3.1.0
pbr==7.0.3
pecan==1.7.0
pexpect==4.9.0
platformdirs==4.9.4
pluggy==1.6.0
prettytable==3.17.0
prometheus_client==0.24.1
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pycadf==4.0.1
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.11.0
PyMuPDF==1.27.2
PyNaCl==1.6.2
pyparsing==3.3.2
pytest==9.0.2
python-dateutil==2.9.0.post0
python-keystoneclient==5.8.0
pytz==2026.1.post1
PyYAML==6.0.3
pyzmq==27.1.0
rank-bm25==0.2.2
referencing==0.37.0
regex==2026.2.28
repoze.lru==0.7
requests==2.32.5
rfc3986==2.0.0
rich==14.3.3
Routes==2.5.1
rpds-py==0.30.0
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.1
sentence-transformers==5.2.3
setproctitle==1.3.7
shellingham==1.5.4
simplegeneric==0.8.1
six==1.17.0
SQLAlchemy==2.0.48
stack-data==0.6.3
statsd==4.0.1
stevedore==5.7.0
sympy==1.14.0
tenacity==9.1.4
testresources==2.0.2
testscenarios==0.5.0
testtools==2.8.5
threadpoolctl==3.6.0
tokenizers==0.22.2
torch==2.10.0
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
transformers==5.3.0
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
WebOb==1.8.9
widgetsnbextension==4.0.15
wrapt==2.1.2
WSME==0.12.1
yappi==1.7.3
yaql==3.2.0
zipp==3.23.0
